<div class="card rounded-0 w-100 h-100" >
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#Global"> <fa-icon [icon]="[this.IconType.Fas,Icon[BtnType.Global]]" size="lg"></fa-icon> <b> 全球統計</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Country"><fa-icon [icon]="[this.IconType.Fas,Icon[BtnType.Flag]]" size="lg"></fa-icon> <b> 各國統計</b></a>
            </li>
        </ul>

    </div>
    <div class="card-body overflow-auto h-100" >
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Global">
                <app-global-stat-container></app-global-stat-container>
            </div>
            <div class="tab-pane fade" id="Country">
                <app-country-stat-container></app-country-stat-container>
            </div>
        </div>
    </div>
</div>