
    <apx-chart
      [series]="this.ChartOptions.Series"
      [chart]="this.ChartOptions.Chart"
      [dataLabels]="this.ChartOptions.DataLabels"
      [plotOptions]="this.ChartOptions.PlotOptions"
      [stroke]="this.ChartOptions.Stroke"
      [xaxis]="this.ChartOptions.Xaxis"
      [yaxis]="this.ChartOptions.Yaxis"
      [stroke]="this.ChartOptions.Stroke"
      [title]="this.ChartOptions.Title"
      [legend]="this.ChartOptions.Legend"
      [colors]="this.ChartOptions.Colors"
    ></apx-chart>
