<div class="container">
    <div *ngIf="this.GlobalStat" class="row justify-content-center">
        <div class="col">
            <app-stat-card [Stat]="this.GlobalStat"></app-stat-card>
        </div>

    </div>
    <div *ngIf="this.GlobalHistoricalStats" class="row justify-content-center">
        <div class="col">
            <app-total-stat-line-chart [Stats]="this.GlobalHistoricalStats">
            </app-total-stat-line-chart>
        </div>
    </div>
    <div *ngIf="this.HistoricalCountryStats" class="row justify-content-center">
        <div class="col">
            <app-countries-stat-line-chart [CountryStats]="this.HistoricalCountryStats" [Top]="10"></app-countries-stat-line-chart>
        </div>
    </div>

    <ng-container *ngIf="this.CountryStats">
    <div  class="row justify-content-center">
        <div class="col">
            <app-countries-stat-bar-chart [CountryStats]="this.CountryStats" [Top]="10"></app-countries-stat-bar-chart>
        </div>
    </div>
   
    <div class="row justify-content-center">
        <div class="col">
            <app-stat-table [CountryStats]="this.CountryStats"></app-stat-table>
        </div>
    </div>
</ng-container>

</div>