<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark">

  <a class="navbar-brand mr-5" [routerLink]="['/covid-19/Dashboard']" >
    <fa-icon [icon]="[this.IconType.Fas,Icon[BtnType.Virus]]" size="lg"></fa-icon> Covid-19
  </a>
  <!-- <div class="navbar-nav-scroll d-flex w-100">
    <ul class="navbar-nav active">
      <li class="nav-item">
        <a class="nav-link" style="font-size:medium;" [routerLink]="['/covid-19/Dashboard']">
          <fa-icon [icon]="[this.IconType.Fas,Icon[BtnType.Chart]]" size="lg"></fa-icon> Dashboard
        </a>
      </li>
    </ul>
  </div> -->
</header>